<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= t.include("partials/_head.html") %>
    <!-- <%= t.include("partials/_paywall.html") %> -->

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

  <div class="video-wrapper">
    <div class="video-bg">
      <video class="video-file" poster="" autoplay loop src="../assets/videos/portraits/bg.mp4"></video>
    </div>
  </div>

  <div class="title-container map">
    <h1 class="title long">Seven lives, seven paths, little change</h1>
    <p class="author">By Kevin Fagan</a></p>
    <p class="date">December 2016</p>
    <div class="deck map">During the winter of 2015-16, one of the biggest homeless encampments ever seen in San Francisco sprouted under the Highway 101 freeway along the corridor known as Division Street. By early February, as many as 350 people were living in tents pitched along more than five city blocks. Later that month, the city began clearing out the camps, with the last big push occurring March 1. Since that date, The Chronicle has tracked the journeys of seven of the displaced Division Street campers. This map shows approximations of their travels to date.</div>
  </div>

    <%= t.include("partials/_nav.html") %>

    <div id="stick-here-profiles"></div>
    <div class="profiles-container" id="stick-me-profiles">
      <div class="profile person0 active"><img src="http://ww2.hdnux.com/photos/54/11/64/11848980/3/2000x1000.jpg"></div>
      <div class="profile person1"><img src="http://ww2.hdnux.com/photos/54/11/64/11848991/3/2000x1000.jpg"></img></div>
      <div class="profile person2"><img src="http://ww2.hdnux.com/photos/54/11/64/11848976/3/2000x1000.jpg"></div>
      <div class="profile person3"><img src="http://ww2.hdnux.com/photos/54/11/64/11848970/3/2000x1000.jpg"></img></div>
      <div class="profile person4"><img src="http://ww2.hdnux.com/photos/54/11/64/11848981/3/2000x1000.jpg"></div>
      <div class="profile person5"><img src="http://ww2.hdnux.com/photos/54/11/64/11848963/3/2000x1000.jpg"></img></div>
    </div>
    <div id="stick-ph-profiles"></div>

    <div class="timeline-info">
      <div class="timeline-date"></div>
      <div class="timeline-text"></div>
      <div id="nextbutton"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
      <div id="refreshbutton"><i class="fa fa-refresh" aria-hidden="true"></i></div>
    </div>

    <div id="map-container">
      <%= t.include("assets/graphics/divisionmap_new.svg") %>
    </div>

    <div id="stop-stick-here"></div>

    <%= t.include("partials/_map_footer.html") %>

    <script>
      var pathData = <%= JSON.stringify(csv.pathData) %>;
      var profileData = <%= JSON.stringify(csv.profileKeys) %>;
    </script>

    <script src="../map.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
