<!doctype html>
<html>
  <head>
    <title><%= json.project.map_seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="free">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= t.include("partials/_map-head.html") %>
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <%= t.include("partials/_paywall.html") %>
    <%= t.include("partials/_map-analytics.html") %>


  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

  <div class="video-wrapper">
    <div class="video-bg">
      <video class="video-file" poster="" autoplay loop src="../assets/videos/portraits/bg.mp4"></video>
      <img class="video-gif" src="../assets/videos/portraits/bg.gif">
    </div>
  </div>

  <div class="title-container map">
    <h1 class="title long">Seven lives, seven paths, little change seen</h1>
    <p class="author">By Kevin Fagan and Lea Suzuki</a></p>
    <p class="date">December 2016</p>
    <div class="map-deck">During the winter of 2015-16, one of the biggest homeless encampments ever seen in San Francisco sprouted under the Highway 101 freeway along the corridor known as Division Street. By early February, as many as 350 people were living in tents pitched along more than five city blocks. Later that month, the city began clearing out the camps, with the last big push occurring March 1. Since that date, The Chronicle has tracked the journeys of seven of the displaced Division Street campers. Follow their paths over the past nine months and hear them talk about their lives by scrolling through the page below.</div>
  </div>

    <%= t.include("partials/_nav.html") %>

    <div class="map" id="map-container">
      <%= t.include("assets/graphics/newmap/divisionmap_nofade1.svg") %>
    </div>

    <% csv.profileKeys.forEach(function(p,index) { %>

      <div class="inline-img-container">
        <div class="profile-header">
          <div class="profile-name person<%=index%>"><%=p["name"]%></div>
          <div class="profile-desc"><%=p["description"]%></div>
        </div>
        <% if (p.nameID == "Gray") { %>
          <div class="photo-gallery0">
            <div class="scroll-left-gallery0 first" id="scroll-left-gallery0"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery0" id="scroll-right-gallery0"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 6; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g0 active" id="photo_g00"></div>
              <% } else { %>
                <div class="photo_g0" id=photo_g0<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else if (p.nameID == "McKinney") { %>
          <div class="photo-gallery1">
            <div class="scroll-left-gallery1 first" id="scroll-left-gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery1" id="scroll-right-gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 5; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g1 active" id="photo_g10"></div>
              <% } else { %>
                <div class="photo_g1" id=photo_g1<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else if (p.nameID == "Brownell") { %>
          <div class="photo-gallery2">
            <div class="scroll-left-gallery2 first" id="scroll-left-gallery2"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery2" id="scroll-right-gallery2"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 10; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g2 active" id="photo_g20"></div>
              <% } else { %>
                <div class="photo_g2" id=photo_g2<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else if (p.nameID == "Mayweather") { %>
          <div class="photo-gallery3">
            <div class="scroll-left-gallery3 first" id="scroll-left-gallery3"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery3" id="scroll-right-gallery3"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 6; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g3 active" id="photo_g30"></div>
              <% } else { %>
                <div class="photo_g3" id=photo_g3<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else if (p.nameID == "Smirf") { %>
          <div class="photo-gallery4">
            <div class="scroll-left-gallery4 first" id="scroll-left-gallery4"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery4" id="scroll-right-gallery4"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 6; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g4 active" id="photo_g40"></div>
              <% } else { %>
                <div class="photo_g4" id=photo_g4<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else if (p.nameID == "Quinn") { %>
          <div class="photo-gallery5">
            <div class="scroll-left-gallery5 first" id="scroll-left-gallery5"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="scroll-right-gallery5" id="scroll-right-gallery5"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <% for (var idx=0; idx < 6; idx++) { %>
              <% if (idx == 0){ %>
                <div class="photo_g5 active" id="photo_g50"></div>
              <% } else { %>
                <div class="photo_g5" id=photo_g5<%=idx%>></div>
              <% } %>
            <% } %>
          </div>
        <% } else { %>
          <div class="inline-img">
            <img src= <%= p["photo"] %> ></img>
            <div class="caption"><%=p["photocaption"]%> <span class="byline"><%=p["photographer"]%>, The Chronicle</span></div>
          </div>
        <% } %>
      </div>

      <div class="mobile-maps">
        <div class="inline-img">
          <img src= "../assets/graphics/mobile/<%= p["mobilePNG"] %>" ></img>
        </div>
        <div class="<%=p["nameID"]%>box box">
          <div class="<%=p["nameID"]%>template"></div>
          <div class="scroll-class">
            <span class="scroll-left-mapslider first" id="scroll-left-mapslider<%=index%>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>
            <span class="scroll-right-mapslider" id="scroll-right-mapslider<%=index%>"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></i></span>
          </div>
        </div>

      </div>

      <div class="map-paths">
        <div id="start<%=p["nameID"]%>"></div>
        <% csv[p.nameID+"Path"].forEach(function(event,eventindex) { %>
          <div class="map-group" id=person<%=index%>event<%=eventindex%>>
            <div class="map-date"><%=event["date"]%></div>
            <div class="map-text"><%=event["text"]%></div>
          </div>
        <% }); %>
        <div id="end<%=p["nameID"]%>"></div>
      </div>

      <div class="inline-img-container">
        <div class="inline-img">
          <div class='embed-container'><iframe src=<%=p["video"]%> frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
          <div class="caption"><%=p["videocaption"]%> <span class="byline"><%=p["videographer"]%>, The Chronicle</span></div>
        </div>
      </div>

    <% }); %>

    <div class="footer-container">
      <%= t.include("partials/_map_footer.html") %>
    </div>

    <script>
      var profileData = <%= JSON.stringify(csv.profileKeys) %>;
      var GrayData = <%= JSON.stringify(csv.GrayPath) %>;
      var BrownellData = <%= JSON.stringify(csv.BrownellPath) %>;
      var MayweatherData = <%= JSON.stringify(csv.MayweatherPath) %>;
      var McKinneyData = <%= JSON.stringify(csv.McKinneyPath) %>;
      var QuinnData = <%= JSON.stringify(csv.QuinnPath) %>;
      var SmirfData = <%= JSON.stringify(csv.SmirfPath) %>;
    </script>

    <script src="../map.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
