<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= t.include("partials/_head.html") %>
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <!-- <%= t.include("partials/_paywall.html") %> -->

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

  <div class="video-wrapper">
    <div class="video-bg">
      <video class="video-file" poster="" autoplay loop src="../assets/videos/portraits/bg.mp4"></video>
    </div>
  </div>

  <div class="title-container map">
    <h1 class="title long">Seven lives, seven paths, little change</h1>
    <p class="author">By Kevin Fagan</a></p>
    <p class="date">December 2016</p>
    <div class="map-deck">During the winter of 2015-16, one of the biggest homeless encampments ever seen in San Francisco sprouted under the Highway 101 freeway along the corridor known as Division Street. By early February, as many as 350 people were living in tents pitched along more than five city blocks. Later that month, the city began clearing out the camps, with the last big push occurring March 1. Since that date, The Chronicle has tracked the journeys of seven of the displaced Division Street campers. This map shows approximations of their travels to date.</div>
  </div>

    <%= t.include("partials/_nav.html") %>

    <div class="map dontshow" id="map-container">
      <%= t.include("assets/graphics/divisionmap_new.svg") %>
    </div>

    <% csv.profileKeys.forEach(function(p,index) { %>

      <div class="profile-header">
        <div class="profile-name person<%=index%>"><%=p["name"]%></div>
        <div class="profile-desc"><%=p["description"]%></div>
      </div>
      <div class="inline-img">
        <img src= <%= p["photo"] %> ></img>
        <div class="caption"><%=p["photocaption"]%> <span class="byline"><%=p["photographer"]%>, The Chronicle</span></div>
      </div>

      <div class="map-paths">
        <div id="start<%=p["nameID"]%>"></div>
        <% csv[p.nameID+"Path"].forEach(function(event,eventindex) { %>
          <div class="map-group" id=person<%=index%>event<%=eventindex%>>
            <div class="map-date"><%=event["date"]%></div>
            <div class="map-text"><%=event["text"]%></div>
          </div>
        <% }); %>
        <div id="end<%=p["nameID"]%>"></div>
      </div>

      <div class="inline-img">
        <div class='embed-container'><iframe src=<%=p["video"]%> frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        <div class="caption"><%=p["videocaption"]%> <span class="byline"><%=p["videographer"]%>, The Chronicle</span></div>
    </div>



    <% }); %>

    <div class="timeline-info">
      <div class="timeline-date"></div>
      <div class="timeline-text"></div>
      <div id="nextbutton"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
      <div id="refreshbutton"><i class="fa fa-refresh" aria-hidden="true"></i></div>
    </div>


    <div id="stop-stick-here"></div>

    <%= t.include("partials/_map_footer.html") %>

    <script>
      var profileData = <%= JSON.stringify(csv.profileKeys) %>;
      var GrayData = <%= JSON.stringify(csv.GrayPath) %>;
      var BrownellData = <%= JSON.stringify(csv.BrownellPath) %>;
      var MayweatherData = <%= JSON.stringify(csv.MayweatherPath) %>;
      var McKinneyData = <%= JSON.stringify(csv.McKinneyPath) %>;
      var QuinnData = <%= JSON.stringify(csv.QuinnPath) %>;
      var SmirfData = <%= JSON.stringify(csv.SmirfPath) %>;
    </script>

    <script src="../map.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
