<p><span class="dropcap">T</span>he foggy dampness had soaked through her tent. Again. The night chill bit into her thin sleeping bag. Again. A couple of neighbors fought it out over a heroin baggie outside her tent. Again.</p>

<p>And the next day, an army of San Francisco police and street cleaners was set to descend on Division Street to sweep away her tent and everything around it. So on Feb. 29, after two months of living under the roar of a freeway, 52-year-old Kathy Gray decided she’d had enough — she finally accepted the street counselors’ offer of shelter.</p>

<p>“I can’t take this anymore, and I don’t want to just be shoved away with all my stuff tossed,” Gray said as she jammed her moist clothes and few possessions into plastic bags for the move. “What I really need is a real place to live, but hey, I’ll try this shelter thing and we’ll see how it goes.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848991/5/2000x2000.jpg">
    <p class="caption">Portrait of Kathy Gray on Tuesday, November 1, 2016 in San Francisco, California. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Gray’s decision came nine months ago, after Mayor Ed Lee ordered the dismantling of a tent city that had spread beneath a mile-long overpass of Highway 101. Dozens of counselors from the city’s homeless outreach services intensified efforts to entice people into shelters before the city’s sweep, but not everyone joined Gray in accepting. Early on March 1, the police and city crews came in. By the end of the day, the messy spectacle of tents, tarps, garbage, open drug use and loud fights was gone.</p>

<p>Hundreds of the Division Street campers did go into shelters, into buildings with social services designed to keep them off the streets — known as supportive housing — and into drug rehabilitation centers. Others accepted tickets for buses bound for former hometowns.</p>

<p>But not all of those destinations proved to be stable landing spots. And scores of other campers simply moved their tents a short distance away.</p>

<p>It’s a weary cycle that’s been repeated countless times over the past three decades as homelessness has become woven into the city’s DNA:Camps are cleared and they come right back. Division Street, because of its sheer sprawl and an accident of timing that brought the spotlight of the Super Bowl to San Francisco, became a highly visible test of the city’s hopes of dealing with the problem in a new way, one that didn’t rely on putting people into spartan shelters for just one night.</p>

<div class="float-img-container">
    <div class="float-video right">
        <div class="embed-container">
       		<iframe src="http://player.vimeo.com/video/192700200" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    	</div>
   		<p class="caption">A CAPTION ABOUT THE VIDEO WILL GO HERE.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
    </div>
</div>

<p>But because of the reality of the city’s homeless problem, it was always doomed to be less than a complete success.</p>

<p>“The bottom line is there is not enough housing for all the homeless people who need it, and when you break up a huge tent camp like Division Street, what’s going to happen? A lot of people will have no choice but to just move a few blocks away,” said Jennifer Friedenbach, head of the San Francisco Coalition on Homelessness, which advocates for ???. “To say you can house everyone when you sweep camp after camp is a lie.</p>

<p>“Just take a look around Division and the areas around it today,” she said recently, “and you’ll see the proof.”</p>

<p>What you’ll see is about 40 tents and RVs back in practically the same area cleared out nine months ago. On some of the roadways nearby, you’ll see camps here and there where another 60 or more people live.</p>

<p>But there’s someone you won’t see: Kathy Gray. While she has found a life beyond the tent camp, her story and those of half-dozen of her former Division Street neighbors tracked by The Chronicle over the past year illustrate what a desultory effort trying to house the 1,500 chronically homeless people in the city can be.</p>

<div class="full-width-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11848989/5/2000x0.jpg">
  <p class="caption">Katie Anderson is silhouetted in the morning light as she sets up her tent after the sidewalk had been cleaned by the Department of Public Works along Florida Street on Wednesday, October 19, 2016 in San Francisco, Calif. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>“Division Street” was always shorthand for a larger place, a larger problem. The four-lane road beneath a remnant of the old Central Freeway is called Division in some places, but becomes 13th Street in others and 11th and Bryant streets in one spot. The camp there was never wholly confined to the grimy boulevard, but spilled onto side streets, alleys and dirt lots.</p>

<p>But the shorthand was apt. The camp symbolized something bigger — the division between San Franciscans’ desire for order and desire to help. The division between what people hoped could be achieved, what was actually possible, and what penniless people in the street were willing to accept in trade for giving up their precarious freedom.</p>

<p>Of the seven Division Street campers The Chronicle followed, two joined Gray in accepting counselors’ offers of shelter; though one soon returned to the streets. Two others simply moved their tents to a nearby alley. And a couple who’d parked their recreational vehicle in front of Gray’s tent relocated just a couple of blocks away — but found their old spot on Division beckoning.</p>

<p>Nine months after the sweep, only Gray and one other former camper are living off the street. The other five are back living on Division Street, or within blocks of it.</p>

<p>“I’ve been out here so long that I’m used to it,” said 50-year-old Oscar McKinney, whose tent sits on the sidewalk in front of Best Buy <b>locate this?</b> — precisely where he was before the camp was cleared, two spots from where Gray’s tent used to be.</p>

<p>McKinney has been mostly homeless in San Francisco since hitchhiking here from Iowa as a teenager. He works odd jobs, these days driving a hearse. At the height of the Division Street encampment, he turned a brisk trade renting out several tents for a few bucks a week — becoming, in effect, a sidewalk landlord. When counselors with the city’s Homeless Outreach Team offered him a spot at a huge, temporary shelter at Pier 80, he laughed.</p>

<p>“I stripped probably $10,000 worth of metal out of that building in the 1980s to sell to the recyclers, so I knew it wasn’t safe,” McKinney said, not realizing the building had been refurbished since then. “I just want to be left alone. I really don’t understand why they keep wanting to make us move all the time.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848976/5/2000x2000.jpg">
    <p class="caption">Oscar McKinney (right) rides his bike along 13th Street as the Cassandra Brownell (left) alights from the Brownell's RV on Thursday, October 27, 2016 in San Francisco, California. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Since February, McKinney said, that’s meant alternately living in what transients call the “Opera Boxes,” a set of empty concrete holes in a wall near Division, a parking lot near the SPCA building called “the Island,” or any hiding spot in a four-block radius where McKinney felt safe enough to sleep with both eyes closed. When the weather turned stormy, his old spot on Division — with its sheltering freeway overhang and diminished police attention — drew him back.</p>

<p>“I’ve been trying to work with Oscar for many years, but he is really dug in,” said one street counselor, who wasn’t authorized to speak publicly. “He thinks he doesn’t need the help, but of course he does.”</p>

<p>Another of McKinney’s former neighbors, 48-year-old Angelique Mayweather, now camps two blocks away, having hop-scotched around the Division Street area for months.</p>

<p>Born to drug-addicted parents and stumbling through a chaotic life that led to 12 children, Mayweather said she? managed to hold down catering jobs until abusive relationships pitched her into the street two years ago. She said she kicked crack in 2013, but now has so much street-induced anxiety she can’t envision living in a complex with other people.</p>

<p>“I think I’m just as good as anyone, but living out here, you’re scared all the time,” Mayweather said, tears coursing down her face in her tent on Utah Street. “I need a house, not just a room. But who will give that to me?”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848981/5/2000x2000.jpg">
    <p class="caption">Angelique Mayweather sits in her tent on Utah Street on Thursday, October 6, 2016 in San Francisco, Calif. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Her daughter Marciana Mayweather, 32, lives in San Francisco and visits her every week or so. But Marciana struggles financially and can’t take her mother in. The daughter was removed from their? home at age 6 and didn’t reconnect with her mother until she was grown.</p>

<p>“It’s hard to see her out there like that,” Marciana Mayweather said. “She did have a stable life before and loved working with food. But that was then. Now? She needs more help, I can’t give it, and the city seems overwhelmed.”</p>

<p>Street counselors have spoken with Angelique, and continue to visit her. But given her unwillingness to take a shelter bed even temporarily, they are confounded about how to help her.</p>

<p>Papa Smirf — his street name — now camps two blocks from his old spot on Division. There’s no family visiting him, and at age 57, with drug convictions on his record, he feels like he’s permanently on his own. He went into a shelter in February before the camp was dismantled, but after police picked him up on a warrant for drug possession, he landed him in jail for most of April. When he got out, he hit the streets again.</p>

<p>Amiable and chatty, Smirf becomes a? leader of every camp he winds up in. And with 39 years of sporadic homelessness, he’s been in more camps than he can remember. In September, he took up residenc in a tiny sidewalk colony near Market and Castro streets.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848960/5/2000x2000.jpg">
    <p class="caption">"Papa Smirf" (right) and "Polar Bear (left) talk" with other Pier 80 shelter residents under an outdoor canopy after after packing up thier tents and going witth the San Francisco Homeless Outreach Team to the Pier 80 shelter after hearing talk about the removal of tents from 13th Street on Thursday, February 25, 2016 in San Francisco, California. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>“It’s all political,” he said with a snort. “They move us here, there, treat us like cattle. Where can a guy like me go?”</p>

<p>Disgusted after losing his Pier 80 bed to a stretch behind bars, Smirf never applied for another. In late November, though, at his current camp at Florida and 16th streets, street counselors told him they might be able to get him a temporary hotel room while they work to find him permanent housing. He’s got a girlfriend with health troubles, HIV among them, and they say she can go with him.</p>

<p>“I’m getting too old for this,” he said as the counseling team drove off. “Maybe it is time to really move in for good.”</p>

<div class="inline-img">
  <div class="embed-container">
   		<iframe src="http://player.vimeo.com/video/192848758" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  	</div>
 		<p class="caption">A CAPTION ABOUT THE VIDEO WILL GO HERE.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>As a late-January downpour pelted the tent he was renting from Oscar McKinney, Terry Quinn watched police cars cruise past Division Street and fumed.</p>

<p>“I’m tired. I want out,” the bony <b>better term? gaunt? scrawny?</b> 54-year-old said at the time, shivering from the chill’s effect on his neuropathic nerve condition. “All I do is drugs, try to sleep, eat and then do more meth. I don’t ask nobody for nothing, but I need some help and nobody wants to give it for real.”</p>

<p>But as his campsite was shut down, he found he was wrong. On March 1, outreach counselors moved him into the Navigation Center <b>need to ID this a little</b> on Mission Street. He stayed there six months until he moved into a permanent supportive housing room at the Henry Hotel on Sixth Street on Aug. 31. He’s still amazed.</p>

<p>“If I didn’t go to the Nav Center, I’d be dead,” he said recently in his room, sitting next to his faux leopard-skin-topped bed while hard? rock boomed from a radio. “It’s tough getting old on the street, especially if you’re an addict and have my disabilities — neuropathy, depression. I had enough.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848977/5/2000x2000.jpg">
    <p class="caption">Terry Quinn (l to r) stands on the sidewalk near his tent where he lives on on 13th Street Wednesday, February 24, 2016 in San Francisco, California. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>The 121-room Henry Hotel was a rundown eyesore until a year ago, when it was taken over by Episcopal Community Services and refurbished into supportive housing for formerly homeless people. There, Quinn has a case manager who checks with him regularly. It’s the first time he’s had a place of his own with a locked door in more than two years.</p>

<p>Quinn said he is getting a grip on his methamphetamine habit through the Henry’s resources, and has big plans for himself.</p>

<p>“Hopefully by my birthday next July, I’ll be done smoking meth,” he said. “I’m doing that hepatitis C medication in a couple of weeks, and I’ll get clear of that disease. Getting inside isn’t always the answer for everyone, but it’s what I wanted. This a stepping stone.”</p>

<p>Loretta Olivencia, Episcopal’s support services manager for the hotel, said Quinn is one of four people from the Division Street camps who have moved in. She wishes there were more.</p>

<p>“Terry’s doing real good here,” she said. “It was a challenge finding him a place (because of funding and disability issues), but we turned out to be the right one for him. It’s great to see.”</p>

<div class="inline-img">
  <div class="embed-container">
   		<iframe src="http://player.vimeo.com/video/192848939" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  	</div>
 		<p class="caption">A CAPTION ABOUT THE VIDEO WILL GO HERE.<span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Backin February, the goal of the mayor and his homelessness program leaders was to get all the Division Street campers into healthier situations like Quinn’s. Statistics show they made progress.</p>

<p>According to Sam Dodge, deputy director of the city Department of Homelessness and Supportive Housing, 245 people from the Division Street tent cities were placed under a roof. It’s not clear, however, how many stayed inside for more than a few days or weeks.</p>

<p>One hundred-eighty people went to Pier 80, a temporary shelter that the city opened in February and closed in July. Others went to the Navigation Center housing-placement complex on Mission Street, to short-term shelters, drug rehab and government-funded housing, or were given bus tickets home to family or friends. Specific figures for each type were not available.</p>

<p>“That street — it was in a dynamic state,” Dodge said of the Division encampment. “People came out and came in, we had people coming from the South Bay and the East Bay and from all over the city. I’m glad we took the time to try to figure out individually what to do. But even then, there were people who didn’t take advantage of the offers.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848969/5/2000x2000.jpg">
    <p class="caption">Cassandra Brownell (l to r), helps her friend Pamela Phelan wash her hair on 13th Street on Friday, October 7, 2016 in San Francisco, Calif. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Robert and Cassandra Brownell have lived in their battered RV for two years, and despite repeated offers from street counselors and police of shelter that could lead to supportive housing, the couple considers the RV their rolling retirement home. “We’re not changing anything,” said Cassandra Brownell, 64.</p>

<p>After moving off Division in March? for a couple of weeks, they returned and have been parked back on the thoroughfare ever since. Their camper sits right in front of McKinney’s tent, just as it did before.</p>

<p>Robert Brownell, 58, retired from working on flooring <b>was he an installer?</b> four years ago when his crooked spine finally made it impossible to bend over. By then the couple were living in hotels and in their truck, having been priced out of a Hayward apartment. Between his government disability check and her Social Security check — she’s a retired bartender — they scraped enough together to buy the RV for $1,700 and keep it fueled and repaired.</p>

<p>It’s got a kitchen, a bed and a locking door. They have to vacate their Division Street parking spot a couple of times a week to avoid being ticketed, but then come right back.</p>

<p>“We don’t cause any problems, we don’t sell drugs, we don’t fight,” said Robert Brownell. “We stay here because we love this city and this is what we know.”</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/11848970/5/2000x2000.jpg">
    <p class="caption">Cassandra Brownell (right) hugs their dog Charlie while talking with Robert Brownell in their RV on Thursday, October 27, 2016 in San Francisco, Calif. <span class="byline"> Lea Suzuki, The Chronicle</span></p>
</div>

<p>Kathy Gray’s tent was also near the Brownells’ camper last winter, but the windy downpours wore her down. In late January, she told Brenda Meskan of the city Homeless Outreach Team she would take a shelter bed — if it wasn’t just for one night.</p>

<p>“It’s hard enough out here, but being trans. ... Well, people want to mess with you,” Gray, a transsexual woman who has been in transition for four years, told Meskan. “I’m tired of it.”</p>

<p>“I get it,” Meskan said as she walked away. “Out here in this weather ...would you just want a one-night bed? No. Sometimes that’s the best thing available. But I think we can do more for Kathy if we have some time.”</p>

<p>A month later, a bed became available at the Next Door Shelter just north of City Hall. Gray took it. Outreach team member Alex Farrand began hunting for permanent housing for her, but it’s always in scant supply. There are <b>more than 6,700 homeless people in San Francisco, according to the most recent one-night headcount from 2015,</b> <b>let’s offer the range of numbers we did back in Joaquin’s story back in June instead of this questionable count only... </b>but only 400 to 600 new housing spots are created every year.</p>

<p>Over the past nine months, Gray has bounced from the Next Door Shelter to temporary city-funded emergency hotel rooms, never able to stay long before a conflict of some kind forces a move. The lean Army veteran is usually amiable. But when insulted for her sexual orientation or misaddressed as a man, she can lash back verbally.</p>

<p>Still, she has made progress since the days in her soggy tent, scrambling every day after food and dope.</p>

<p>Gray credits outreach worker Farrand with helping her shake methamphetamine. Living indoors means no danger of her medications being stolen, no attacks in the night. Overall, Gray said, life waiting for housing is placid: she spends a lot of time walking her shih tzu-mix dog, Gracie, or writing to a romantic pen-pal in Idaho she calls her fiance. <b>check sp. is this a male fiance or female fiancee?</b></p>

<p>“I live a life of more risk than a soldier going into combat, so I’m glad for the help,” she said on a recent trip with Farrand to the Social Security office. “I do give Alex some s—, but she puts up with me. It’s really down to how much you want to get off the street — and I do.”</p>

<p>“Sometimes,” Farrand told her, “you just need to have some faith that things will work out. It’s tough finding housing. But we’ll get there.”</p>

<p>Gray stared down, then looked up. “I won’t quit,” she said. “Not this time.”</p>
