<p>The troubling question is whether the region can adapt itself at the scale we need in the time we have. Projections done in 2012 by the National Research Council, a scientific think tank, suggest that looking ahead to 2100, the “most likely” scenario for bay rise is average tides 36 inches higher than today’s. The worst-case scenario is more sobering, 66 inches. In either case, the tidal changes are expected to accelerate after 2050.</p>

<p>“We’re in a big transitional period,” said Allison Brooks, executive director of the Bay Area Regional Collaborative, an alliance of four state agencies that play a regulatory role in planning in the nine Bay Area counties. “There’s not going to be a magic bullet.”</p>

<p>Whatever the precise impacts of sea level rise, the mistake for us would be to treat it as one of those problems to be dealt with someday, down the road. Addressing the issue should be a Bay Area-wide priority on par with housing or transportation, and is one that will require government at all levels working together.</p>

<p>There’s another ingredient that would help. We need the spark of imagination.</p>

<p>This might sound frivolous, but it’s essential. No matter how grim the political climate in Washington, D.C., might be, the design community here and beyond can offer scientifically grounded visions of the future that stir a sense of potential rather than dwelling on apocalyptic what-ifs. A proposed competition would offer us the chance to move the discussion forward; the sooner that it begins the better off we all could be.</p>
