@person0: #E5B76B;
@person1: #21A466;
@person2: #E14940;
@person3: #34C1D5;
@person4: #0085BB;
@person5: #CF5EA3;

@button-color: #6790B7;

path {
  stroke-opacity: 0.3;
  stroke-width: 6px;
}

.footer-container {
  background: white;
}

.inline-img-container {
  background: white;
}

// .map-container {
//   background-image: url("../assets/graphics/divisionmap_new.svg");
//   background-size: 100% 100%;
//   height: 1000px;
//   svg {
//     margin: auto;
//   }
// }

.video-wrapper {
  background: white;
}

.inline-img {
  background: white;
  .caption {
    padding-bottom: 5px;
  }
}

.map-paths {
  padding: 100px 0;
  @media @mobile {
    padding: 0;
  }
}

.map-group {
  font-family: @block-graphics;
  .map-date {
    font-family: @bold-graphics;
  }
  .map-text {
    font-style: italic;
    line-height: 1.2;
    font-size: 17px;
    padding-top: 10px;
  }
  width: 30%;
  margin-left: 60%;
  margin-right: 20px;
  margin-bottom: 200px;
  opacity: 1;
  z-index: 100;
  padding: 20px;
  background: white;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
  @media @mobile {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 250px;
  }
}

#map-container {
  max-width: 900px;
  display: block;
  position: fixed;
  height: 1000px;
  width: 100%;
  top: 0;
  z-index: -100;
  &.dontshow {
    display: none;
  }
  tspan {
    font-family: @bold-graphics;
    font-size: 14px;
  }
  text {
    font-size: 10px;
  }
  overflow: hidden;
  @media @mobile {
    top: 100px;
  }
  // position: fixed;
}

.map-deck{
  max-width: 600px;
  font-size: 1em;
  font-family: @body;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  text-shadow: 0px 0px 0px 0px;
  line-height: 1.2;
  @media @mobile {
    padding: 20px;
    font-size: 16px;
    margin-top: 0;
  }
}

.profile-header {
  max-width: 900px;
  width: 90%;
  font-family: @med-graphics;
  font-size: 15px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  background: white;
  .profile-name {
    width: 80%;
    margin: auto;
    // font-family: @bold-graphics;
    font-size: 25px;
    @media @tablet {
      font-size: 20px;
    }
    &.person0 { border-bottom: 4px solid @person0; }
    &.person1 { border-bottom: 4px solid @person1; }
    &.person2 { border-bottom: 4px solid @person2; }
    &.person3 { border-bottom: 4px solid @person3; }
    &.person4 { border-bottom: 4px solid @person4; }
    &.person5 { border-bottom: 4px solid @person5; }
  }
  .profile-desc {
    padding-top: 20px;
    font-family: @bold-graphics;
  }
}

.button {
  width: 400px;
  color: white;
  text-align: center;
  font-family: @bold-graphics;
  font-size: 16px;
  // display: inline-block;
  border-radius: 3px;
  padding: 1px;
  cursor: pointer;
  background: @button-color;
  margin: auto;
  padding: 10px 30px;
  .fa {
    padding-left: 20px;
    font-size: 25px;
    vertical-align: middle;
  }
  &:hover {
    background: lighten(@button-color,10%);
  }
}

.fa-angle-double-right, .fa-refresh {
  font-size: 30px;
  cursor: pointer;
}

#refreshbutton {
  display: none;
}

.credits .group p {
  margin: 0 auto;
}

.entry{
  a{
    color:#EC1C24;
  }
}

.dont-miss h4 {
  margin-top: 2px;
  line-height: 1.2;
  font-size: 0.9em;
  color:#333;
}


.profiles-container {
  max-width: 900px;
  margin: 40px auto;
  z-index: 100;
  .display-flex;
  .flex-wrap(wrap);
  .profile {
    .flex(0 0 16.666%);
    // display: inline-block;
    // float: left;
    text-align:center;
    // margin: 40px auto;
    border: 2px solid blue;
    img {
      width: 100%;
      height: 100%;
    }
    opacity: 0.6;
    &:hover {
      opacity: 0.3;
    }
    &.person0 { border: 4px solid @person0;}
    &.person1 { border: 4px solid @person1;}
    &.person2 { border: 4px solid @person2;}
    &.person3 { border: 4px solid @person3;}
    &.person4 { border: 4px solid @person4;}
    &.person5 { border: 4px solid @person5;}
    &.active {
      opacity: 1;
    }
  }
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
  margin-bottom: 40px;
}

.text {
  margin: 50px auto;
}

.dont-miss {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.timeline-info {
  font-family: @block-graphics;
  text-align: center;
  position: absolute;
  right: 20px;
  width: 300px;
  background: lighten(@light-gray,10%);
  padding: 20px;
  .timeline-date {
    color: @red;
    font-family: @med-graphics;
  }
  .timeline-text {
    font-size: 16px;
  }
}

.fixed-profiles {
   position: fixed;
   top: 0 !important;
   vertical-align: middle;
   z-index: 100;
   max-width: 900px;
   margin: auto;
   width: 100%;
   left: 0;
   right: 0;
}

.sticker_ph {
  height: 149px;
  display: none;
}
