<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_paywall.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='reponsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

      <div id="landing">

      <div id="intro">

      <div class="title-container">
        <h1 class="title long">Seven lives, seven paths, little change</h1>
        <div class="deck">Cleared from Division Street nine months ago, some homeless campers have made the street their home again</div>
        <div id="btn-group">
          <button id="mainbar_btn" class="btn">Read their story</button>
          <button id="map_btn" class="btn">Explore their journey</button>
        </div>
      </div>
          <p class="author">By Kevin Fagan</a></p>
          <p class="date">Dec. 7, 2016</p>
      </div>
      </div>

    </div><!-- End of Intro -->


    <div id="mainbar" class="text">
      <%= t.include("partials/_mainbar.html") %>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      $('#mainbar_btn').on('click', function() {
          $('html, body').animate({
              scrollTop: $('#mainbar').offset().top - 60
          }, 500);
      });
    </script>

    <script src="main.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
